/*
Theme_name: Pips
Them URI:http://www.hogepon.com/
Description: Enterprise wordpress theme
Author: Keshiyan
Version: 1.0
Lisence: General Public License v2 or later
Lisence URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

@font-face {
  font-family: 'Noto Sans JP Regular';
  font-style: normal;
  font-weight: 200;
  src: url(fonts/NotoSansCJKjp-Regular.eot);
  src: url(fonts/NotoSansCJKjp-Regular.eot?#iefix) format("embedded-opentype"),url(fonts/NotoSansCJKjp-Regular.woff) format("woff"),url(fonts/NotoSansCJKjp-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Noto Sans JP DemiLight';
  font-style: normal;
  font-weight: 200;
  src: url(fonts/NotoSansCJKjp-DemiLight.eot);
  src: url(fonts/NotoSansCJKjp-DemiLight.eot?#iefix) format("embedded-opentype"),url(fonts/NotoSansCJKjp-DemiLight.woff) format("woff"),url(fonts/NotoSansCJKjp-DemiLight.ttf) format("truetype");
}
@font-face {
  font-family: 'Noto Sans JP Light';
  font-style: normal;
  font-weight: 200;
  src: url(fonts/NotoSansCJKjp-Light.eot);
  src: url(fonts/NotoSansCJKjp-Light.eot?#iefix) format("embedded-opentype"),url(fonts/NotoSansCJKjp-Light.woff) format("woff"),url(fonts/NotoSansCJKjp-Light.ttf) format("truetype");
}

html {
  overflow: auto;
}

body {
  font-family: 'Noto Sans JP Regular', 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Noto Sans Japanese', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  color: #333;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #e9e9e9;
  color: #e9e9e9;
}

a {
  transition: 0.5s all;
}

a:hover {
  opacity: 0.9;
}

.header-inner, .container, .footer-inner, .under-contents{
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 1800px;
}

.header-inner {
  z-index: 100;
}

.container {
  z-index: 50;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0; 
  }
  100% {
    display: block;
    opacity: 1;
  }
}

/*-- site-title --*/

.site-title {
  font-size: 3em;
  line-height: 1.1;
  margin: 100px 0px 50px 0px;
  text-align: center;
}

.site-title h1 {
  margin: 0;
  padding: 0;
}

.site-title img {
  display: inline-block;
}

.site-title a {
  text-decoration: none;
}

.description p {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 1.2em;
}

/*-- sns-button --*/

.header-button {
  text-align: center;
}

.sns-button img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.3s all;
}

.sns-button img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}

.header-button {
  max-width: 315px;
  display: block;
  margin: 0 auto;
}

.sns-button {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.sns-button li {
  list-style: none;
  vertical-align: middle;
  display: inline-block;
}

/*-- under-sns --*/

.under-sns-widget {
  text-align: center;
}

.under-sns-wrapper {
  display: inline-block;
  margin-top: 50px;
}

/*-- search --*/

.searchbutton {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 20px;
  padding: 10px 30px;
  border-radius: 20px 0px 0px 20px;
  border: 1px dotted #e9e9e9;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
  transition: 0.5s all;
  box-shadow: 1px 1px 5px grey;
  font-size: 1.4em;
  font-weight: bold;
  z-index: 9999;
}

.searchbutton:hover {
  background-color: rgba(219,219,219,1);
}

.searchbutton:hover .searchform {
  display: block;
  animation: show 0.5s linear 0s;
}

.searchform {
  display: none;
}

#s {
  border: 1px solid #e9e9e9;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 1.3em;
  width: 83%;
}

#searchsubmit {
  background: url(images/search.svg) no-repeat;
  margin-left: 20px;
  margin-bottom: 4px;
  padding: 5px;
  border: 0;
  width: 30px;
  height: 20px;
  color: transparent;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

/*-- menu-button --*/

.menubutton {
  position: absolute;
  left: 0;
  top: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 30px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 0px 20px 20px 0px ;
  box-shadow: 1px 1px 5px grey;
  z-index: 9999;
  transition: 0.5s all;
}

.menubutton:hover {
  background-color: rgba(219,219,219,1);
}

.menubutton:hover #header-nav {
  display: block;
  animation: show 0.5s linear 0s;
}

.menu-img {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

/*-- header-nav --*/

#header-nav {
  display: none;
  z-index: 100;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

.header-nav li {
  margin-bottom: 5px;
  display: block;
  position: relative;
}

.header-nav a {
  text-decoration: none;
  color: #333;
}

.header-nav a:hover {
  border-bottom: 2px solid #333;
}

.header-nav>ul {
  margin: 20px 0px;
  font-weight: normal;
}

.header-nav>ul>li {
  font-size: 1.1em;
}

.header-nav>ul>li>ul {
  display: none;
  margin: 10px 0px;
}

.header-nav>ul>li>ul>li {
  font-size: 1em;
}

.header-nav>ul>li:hover ul {
  display: block;
  animation: show 0.5s linear 0s;
}

/*-- front-page --*/

.front-subtitle {
  font-size: 3em;
  margin: 40px 0px;
  text-align: center;
}

/*-- index --*/

.contents>h1 {
  font-size: 3em;
  text-align: center;
  margin: 50px 0px;
}

.article-container {
  margin-bottom: 50px;
}

.article-list {
  position: relative;
}

.article-list .article-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: 0.7s all;
  overflow: hidden;
  padding: 10px;
} 

.article-list a {
  text-decoration: none;
  color: #333;
}

.article-list h2 {
  font-size: 2em;
}

.article-list .article-category {
  display: block;
}

.article-list .article-date {
  display: block;
}

.article-list .article-info {
  font-size: 0.9em;
}

.article-list:hover .article-info {
  opacity: 0.9;
  z-index: 200;
}

.article-list img {
  transition: 0.7s all;
  position: relative;
  z-index: 0;
}

.article-list:hover img {
  opacity: 0.2;
}

.article-list .img-gradation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-135deg, rgba(109,227,129,0.6), rgba(109,129,227,0.6));
  z-index: 100;
}

/*-- article --*/

.article {
  margin: 30px auto;
  max-width: 800px;
}

.article .article-info {
  font-size: 1.1em;
  opacity: 0.9;
  text-align: center;
} 

.article .article-date, .article .article-category, .article .article-tag {
  display: inline-block;
}

.article .article-thumbnail {
  display: none;
}

.article h1 {
  text-align: center;
  font-size: 4em;
  margin: 70px 0px 100px 0px;
}

.article h2 {
  font-size: 2.5em;
  margin: 100px 0px 10px 0px;
  padding: 15px;
  border-left: 5px solid #C1C1C1;
  border-right: 5px solid #C1C1C1;
}

.article h3 {
  font-size: 2em;
  border-left: 3px solid #e9e9e9;
  padding: 10px;
  margin-top: 40px;
}

.article h4 {
  font-size: 1.5em;
}

.article h5 {
  font-size: 1.3em;
}

.article h6 {
  font-size: 1.2em;
}

.article p {
  font-size: 1em;
  margin: 10px 20px;
}

.article img {
 box-shadow: 1px 1px 3px grey; 
 display: block;
 margin: 50px auto;
}

.article table {
  margin: 40px 0px 40px 0px;
  padding: 10px;
  border: 1px solid #e9e9e9;
}

.article figcaption {
  font-size: 0.9em!important;
  opacity: 0.9;
  margin: 1em 1em 3em 1em!important;
}

.article tr:nth-child(odd) {
  background-color: #e9e9e9;
}

.article blockquote {
  position: relative;
  padding: 10px 50px;
  margin: 10px;
  background-color: #e9e9e9;
}

.article blockquote:before {
  position: absolute;
  content: "";
  background: url(images/format_quote.svg) no-repeat;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  width: 30px;
  height: 30px;
  top: 20px;
  left: 20px;
  opacity: 0.5;
}

/*-- comments area --*/

#comment-open {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e9e9e9;
  transition: 0.5s all;
}

#comment-open:hover #comment-container {
  display: block;
  animation: show 0.5s linear 0s;
}

#comment-container {
  opacity; 0;
  display: none;
  background-color: transparent;
  text-align: left;
}

#comment-area {
  max-width: 800px;
  margin: 100px auto;
  text-align :center;
}

#comment-area h3 {
  font-size: 3em;
}

#reply-title {
  margin-top: 30px;
}

input[type="text"], input[type="submit"], textarea {
  width: 100%;
  border: 1px solid #e9e9e9;
  padding: 10px;
  font-size: 1.1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333;
  cursor: pointer;
  color: #fff;
  transition: 0.5s all;
}

input[type="submit"]:hover {
  opacity: 0.8;
}
/*-- prev next link --*/

.link-container {
  max-width: 800px;
  margin: 40px auto;
}

.link-container:after {
  display: block;
  content: "";
  clear: both;
}

.prev-link, .next-link {
  position: relative;
  font-size: 1.3em;
}

.prev-link {
  text-align: left;
  padding-left: 20px;
}

.prev-link:before {
  content: "";
  position: absolute;
  background: url(images/chevron_left.svg) no-repeat;
  top: 0.4em;
  left: 0.4em;;
  width: 30px;
  height: 30px;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

.next-link {
  float: right;
  padding-right: 20px;
}

.next-link:before {
  content: "";
  position: absolute;
  background: url(images/chevron_right.svg) no-repeat;
  top: 0.7em;
  right: -1.7em;
  width: 30px;
  height: 30px;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

/*-- pagination --*/

.pagination-container {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 10px 0px;
  padding: 10px 30px;
}

.pagination img {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transition: .5s all;
}

.pagination a {
  display: inline-block;
  font-size: 2em;
  text-decoration: none;
  color: #333;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  transition: 0.5s all;  
  border-radius: 50%;
}

.pagination a:hover {
  background-color: #333;
}

.pagination a:hover img {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
}

/*-- under-contents --*/

.under-contents {
  margin-top: 50px;
  padding: 60px 0px;
  background-color: #e9e9e9;
  text-align: center;
}

.under-contents h4 {
  font-size: 2em;
  padding: 20px 0px;
}

/*-- profile --*/

#profile-widget {
  margin: 0 auto;
  text-align: center;
}

#profile-widget img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  object-fit: cover;
}

#profile-widget .name {
  font-weight: bold;
  font-size: 1.2em;
  opacity: 1;
}

#profile-widget p {
  font-size: 0.95em;
  opacity: 0.9;
  margin-top: 50px;
  padding: 0 10px;
}

/*-- footer --*/

.footer-inner {
  padding: 60px 30px 5px 30px;
  background-color: #333;
  color: #fff;
}

.footer-inner a {
  text-decoration: none;
  color: #fff;
}

.footer-inner a:hover {
  border-bottom: 1px solid #fff;
}

.footer-widget-container:after {
  content: "";
  display: block;
  clear: both;
}

.footer-widget {
  float: left;
  width: 32%;
  overflow: hidden;
  margin-bottom: 20px;
}

.footer-widget h4 {
  font-size: 2em;
}

.footer-widget-middle {
  margin-left: 1.1%;
}

.footer-widget-right {
  margin-left: 1.1%;
}

.copyright {
  text-align: center;
}

/*-- pc --*/

@media (min-width: 768px) {

  .article-container:after {
    content: "";
    display: block;
    clear: both;
  }

  .article-list {
    width: 33.3%;
    height: 180px;
    float: left;
  }

  .article-list img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .article-list h2 {
    font-size: 1.3em;
  }

  .article-list .article-date, .article-list .article-category {
    font-size: 0.85em;
    opacity: 0.8;
  }

}

@media (min-width: 1080px) {
  
  .article-list {
    width: 25%;
    height: 250px;
  }

  .article-list img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .article-list h2 {
    font-size: 1.6em;
  }

  .article-list .article-date, .article-list .article-category {
    font-size: 0.9em;
  }

}

/*-- tablet --*/

@media (max-width: 767px) {
  
  .site-title a {
    font-size: 70%;
  }

  .searchbutton, .menubutton {
    top: 20px;
  }

  .article-container:after {
    content: "";
    display: block;
    clear: both;
  }

  .article-list h2 {
    font-size: 1.2em;
  }

  .article-list {
    width: 50%;
    height: 180px;
    float: left;
  }

  .article-list img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .article-list .article-date, .article-list .article-category {
    font-size: 0.85em;
    opacity: 0.8;
  }

  .front-subtitle {
    font-size: 2em;
  }


  .footer-widget {
    width: 100%;
  }

  .article {
    font-size: 90%;
  }

  .article p {
    font-size: 105%;
  }

  .article .article-info {
    font-size: 120%;
  }

  #comment-area {
    font-size: 90%;
  }

  .link-container {
    font-size: 80%;
  }

}

/*-- mobile --*/

@media (max-width: 420px) {

  .site-title a {
    font-size: 50%;
  }

  .description {
    font-size: 70%;
  }
  
  .sns-button li {
    width: 35px;
  }

  .sns-button img {
    width: 100%;
  }

  .article h1 {
    font-size: 2.5em;;
  }

  .article-list {
    width: 100%;
  }

}
